<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>RealtimeFeedback</title>
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
    </head>

    <body class="vh-100">
        <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark" id="navbar">
            <div class="container">
                <a href="/" class="navbar-brand">
                    <img class="logo" src="/img/logo.png" alt="Logo">
                </a>
                <a class="navbar-brand" href="/">RealtimeFeedback</a>
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse flex-row-reverse" id="nav">
                    <ul class="navbar-nav">

                        <% if (currentUser != null)  { %>
                           
                            <li id="home-link-nav" class="nav-item">
                                <a href="/" class="nav-link">Welcome <%= currentUser.username %>!</a>
                            </li>
                            <li id="feedback-link-nav" class="nav-item">
                                <a href="/realtimefeedback" class="nav-link">Feedback</a>
                            </li>
                            <li class="nav-item">
                                <a href="/logout" class="nav-link">Log Out</a>
                            </li>
                        <% } %>

                        <% if(currentUser == null)  { %>
                            <li id="login-link-nav" class="nav-item">
                                <a href="/login" class="nav-link">Log In</a>
                            </li>
                            <li id="register-link-nav" class="nav-item">
                                <a href="/register" class="nav-link">Registrieren</a>
                            </li>
                        <% } %>
                    </ul>    
                </div>
            </div>
        </nav>
       
        <script src="/scripts/header.js"></script>

        <% if(error && error.length > 0) { %>
            <div class="alert alert-danger text-center">
                <%= error %>
            </div>
        <% } %>

        <% if(info && info.length > 0) { %>
            <div class="alert alert-info text-center">
                <%= info %>
            </div>
        <% } %>
